In [1]:
my_string = "hello"

In [2]:
mylist = []

In [3]:
for letter in my_string:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
celcius = [0,10,20,34.5]
farhenite = []
for temp in celcius:
    farhenite.append((9/5)*temp + 32)

In [8]:
farhenite

[32.0, 50.0, 68.0, 94.1]

In [11]:
celcius = [0,10,20,34.5]
farhenite = [(9/5)*temp + 32 for temp in celcius]

In [12]:
farhenite

[32.0, 50.0, 68.0, 94.1]

In [20]:
mylist = [1,2,3,4]
for num in range(0,10,2):
    num = num**2
    print(num)

0
4
16
36
64

In [29]:
#if else
mylist = [num if num%2==0 else "odd" for num in range(0,11)]

In [30]:
mylist

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [31]:
#only if
mylist1= [num for num in range (0,11) if num%2==0]

In [32]:
mylist1

[0, 2, 4, 6, 8, 10]

In [33]:
#if else with .append()

In [35]:
mylist = [1,2,3,4,5]
for num in range(0,11):
    if num%2==0:
        print (num)
    else:
        print ("odd")
        print("\n")

0
odd


2
odd


4
odd


6
odd


8
odd


10